@font-face {
  font-family: 'JISHUQI1';
  src: url('DS-DIGI.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JISHUQI2';
  src: url('DS-DIGIB.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JISHUQI3';
  src: url('DS-DIGII.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JISHUQI4';
  src: url('DS-DIGIT.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OVERVIEW-NUM';
  src: url('DIN-Alternate-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
